*, *:before, *:after{
  box-sizing: border-box;
}

html,
body {
  //width: 320px;
  //width: 700px;
  //width: 768px;
  //width: 1000px;
  //width: 1150px;
  margin: 0 auto;

  background-color: $bg-white;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
